<div class="container"> 
  <div class="row">
    <div class="col">
      <h1>Task Tracker App</h1>
      <%= link "Register", to: Routes.user_path(@conn, :new), class: "btn   btn-info" %>
    </div>
  </div>
</div>
